.sidebar {
  flex: 0.3;
  /* flex-direction: column; */
  flex-direction: column;
  display: flex;
  border-radius: 20px 0 0 20px;
  padding:10px;
  background-color: #4e426d;
}

.sidebar__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 20px;
}


.siebar__search {
  display: flex;
  height: 40px;
  align-items: center;
  padding: 10px;

}

.sidebar__searchcontainer {
  display: flex;
  background-color: #5c4f81;
  width: 100%;
  height: 35px;
  border-radius: 999px;
  align-items: center;
}

.sidebar__searchcontainer > input {
  width: 80%;
  border: none;
  margin-left: 15px;
  color: gray;
  background: #5c4f81;
  font-size: 1em;
}

.sidebar__searchcontainer > .MuiSvgIcon-root {
  margin-left: 15px;
  color: gray;
  /* font-size: 18px !important; */
}

.sidebar__chhatsGroups {
  flex: 1;
  overflow-y: scroll;
  border-radius: 10px;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
